body {
    display: flex;
    flex-direction: row;
    margin:auto;
    background-color: whitesmoke;

}

.left {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    background-image: url('img/safar-safarov.jpg');
    background-size: cover;
    width: 40%;
    height: auto;
    font-size: 20px;
    
    
}

.left > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size:45px;
    margin-top: 30vh;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 15vh;
}

.left > footer {
    bottom: 5vh;
    color: white;
    font-size: 20px;
}

.left > footer > a {
    color: white;
    text-decoration: none;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
    gap: 7vh;
    font-size: 20px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    background-color: white;
    padding-top: 20px;
    box-shadow: 2px 2px 2px #D7D4D4;
    padding-bottom: 20px;
}


legend{
    margin-left: 50px;
    font-size: 30px;
}

p {
    margin-inline: 50px;
}

input[type="submit"] {
    margin-left: 50px;
    background-color: #0081b5;
    color:white;
    font-size: 20px;
    border-radius: 15px;
    border-color: #0081b5;
    padding: 15px;
    padding-inline: 30px;
    font-weight:900

}

label{
    color: rgb(110, 110, 110);
    font-size: 15px;
}

input {
    outline: none;
    border-radius: 3px;
    border-width: 1px;
    border-color: whitesmoke
}


input:focus:invalid {
    border: 1px solid red;
}

input:focus {
    outline: none;
    border: 1px solid #0081b5;
}


form > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

div > p {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

span {
    margin-inline: 50px;
}

a {
    color: #0081b5;
    text-decoration:none;
}

div > span {
    font-weight:900
}

div > footer {
    margin-inline: 50px;
    padding: 15px;
    font-weight:900;
}

.password {
    outline: none;
}

.confpassword {
    outline: none;
}

.erro {
    color:red;
    margin:0px;
    font-size: 12px;
}


@media only screen and (max-width: 1200px) {
    
    body {
        flex-direction: column;
    }

    .left {
        width: auto;
        height: 10%;       
    }

    .left > div {
        font-size: 35px;
    }

    .left > footer {
        font-size: 15px;
    }

    .right {
        width: auto;
        height: 90%;
    }
}